@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Playfair+Display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Muli, sans-serif;
    font-size: 14px;
}

html {
    color: #000000;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-family: 'Playfair Display', serif;
}

p {
    font-family: Muli, sans-serif;
}

.container {
    margin: 0 auto;
    width: 940px;
}

.main-menu {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    margin-left: 60px;
    font-weight: 700;
    transition: 0.3s;
    border: 3px solid #ffffff;
    padding-bottom: 4px;
}

.main-menu a:hover {
    border-bottom: 3px solid #000000;
    padding-bottom: 4px;
}

.header-container {
    margin: 100px 0;
    display: inline-block;
    font-size: 0;
}

.header-image {
    width: 50%;
    height: 480px;
    background-image: url(../img/img-top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: inline-block;
}

.header-image::before {
    content: '';
    width: 73%;
    height: 100%;
    position: absolute;
    top: 4%;
    left: 17%;
    border: 3px solid #B8DBC9;

}

.header-image img {
    width: 60%;
    position: absolute;
    left: 31%;
    top: 23%;
}

.header-text {
    width: 50%;
    display: inline-block;
}

.heading {
    background-image: url(../img/planty-logo.svg);
    background-repeat: no-repeat;
    height: 150px;
    width: 80%;
    margin-bottom: 14px;
}

.heading h5 {
    text-align: center;
    padding-top: 110px;
    font-size: 17px;
    margin-left: -32px;
}

.header-description p {
    width: 80%;
    margin-bottom: 50px;
    line-height: 1.5;
}

.green-button {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 5px;
    color: #ffffff;
    background: #B8DBC9;
    border: 1px solid #B8DBC9;
    transition: 0.3s;
}

.green-button:hover {
    color: #B8DBC9;
    background: #ffffff;
}

aside.banner {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding: 100px 40px 100px 60px;
}

aside .banner-text {
    color: #ffffff;
    font-family: "Playfair Display", sans-serif;

}

.peoples {
    width: 100%;
    margin-top: 100px;
    font-size: 0;
    text-align: center;
    margin-bottom: 100px;
}

.title h1 {
    font-size: 32px;
    font-family: "Playfair Display", sans-serif;
}

.first-box,
.second-box {
    width: 40%;
    display: inline-block;
    border: 3px solid #B8DBC9;
}

.second-box {
    margin-left: 10px;
}

.box-image {
    position: relative;
}

.info-box {
    display: inline-block;
    padding: 20px 40px;
}

.first-box .box-image img {
    position: absolute;
    border: 3px solid #B8DBC9;
    border-radius: 50%;
    top: -80px;
    left: -88px;
}

.second-box .box-image img {
    position: absolute;
    border: 3px solid #B8DBC9;
    border-radius: 50%;
    top: 0px;
    left: -88px;
}

.info-box span {
    display: block;
    margin-bottom: 15px;
}

section.contact {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
}

.contact-form {
    width: 34%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.contact-banner {
    width: 34%;
    display: inline-block;
    margin-left: 35px;
    text-align: center;
}

.contact-banner img {
    position: relative;
}

.contact-banner::before {
    content: '';
    width: 37%;
    height: 96%;
    position: absolute;
    top: -3%;
    left: 50%;
    z-index: 1;
    border: 3px solid #B8DBC9;
}

.submit-button {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 5px;
    color: #ffffff;
    background: #B8DBC9;
    border: 1px solid #B8DBC9;
    margin-top: 50px;
    transition: 0.3s;
}

.submit-button:hover {
    color: #B9DBC9;
    background: #ffffff;
}

input,
textarea {
    display: block;
}

footer {
    background-color: #B8DBC9;
    color: #ffffff;
    margin-top: 100px;
}

.main-footer {
    padding: 30px 0;
    width: 940px;
    margin: 0 auto;
    font-size: 0;
}

.left-footer,
.right-footer {
    display: inline-block;
    width: 50%;
}

.left-footer {
    line-height: 1.5;
}

.right-footer .social-icons {
    list-style-type: none;
    text-align: center;
}

.social-icons li {
    display: inline-block;
}

.social-icons li img {
    width: 50px;
    margin-right: 5px;
}
