@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Parisienne');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Muli, sans-serif;
    font-size: 14px;
}

html {
    color: #000000;
}

body {
    width: 100vw;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-family: 'Muli', serif;
}

p {
    font-family: Muli, sans-serif;
}

h1 {
    font-size: 50px;
    font-family: Parisienne, cursive;
}

h3 {
    font-size: 23px;
}

.container {
    margin: 0 auto;
    width: 940px;
}

.main-menu {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    margin-left: 60px;
    font-weight: 700;
    transition: 0.3s;
    border: 3px solid #ffffff;
    padding-bottom: 4px;
}

.main-menu a:hover {
    border-bottom: 3px solid #000000;
    padding-bottom: 4px;
}

.header-container {
    margin: 100px 0;
    display: inline-block;
    font-size: 0;
}

.header-image {
    width: 50%;
    height: 480px;
    background-image: url(../img/img-top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: inline-block;
}

.header-image::before {
    content: '';
    width: 73%;
    height: 100%;
    position: absolute;
    top: 4%;
    left: 17%;
    border: 3px solid #B8DBC9;

}

.header-image img {
    width: 60%;
    position: absolute;
    left: 31%;
    top: 23%;
}

.header-text {
    width: 50%;
    display: inline-block;

}

.heading {
    background-image: url(../img/planty-logo.svg);
    background-repeat: no-repeat;
    height: 150px;
    width: 80%;
    margin-bottom: 14px;
}

.heading h5 {
    text-align: center;
    padding-top: 110px;
    font-size: 17px;
    margin-left: -32px;
}

.header-description p {
    width: 80%;
    margin-bottom: 50px;
    line-height: 1.5;
}

.green-button {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 5px;
    color: #ffffff;
    background: #B8DBC9;
    border: 1px solid #B8DBC9;
    transition: 0.3s;
}

.green-button:hover {
    color: #B8DBC9;
    background: #ffffff;
}

aside.banner {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding: 150px 210px 50px 60px;
}

aside .banner-text {
    color: #ffffff;
    font-family: Parisienne, sans-serif;
    text-align: right;
    width: 100%;
    display: inline-block;
    font-size: 32px;
}

.experts-main .title h1 {
    margin-left: 100px;
}

.peoples {
    width: 100%;
    margin-top: 100px;
    font-size: 0;
    margin-bottom: 42px;
    position: relative;
    min-height: 350px;
}


.first-box,
.second-box {
    width: 40%;
    display: inline-block;
    border: 3px solid #B8DBC9;
    position: absolute
}

.first-box {
    left: 100px;
}

.second-box {
    left: 500px;
    top: 98px;
}

.box-image {
    position: relative;
}

.info-box {
    display: inline-block;
    padding: 30px 20px 30px 100px;
}

.first-box .box-image img {
    position: absolute;
    border: 3px solid #B8DBC9;
    border-radius: 50%;
    top: 18px;
    left: -73px;
}

.second-box .box-image img {
    position: absolute;
    border: 3px solid #B8DBC9;
    border-radius: 50%;
    top: 18px;
    left: -73px;
}

.info-box span {
    display: block;
    margin-bottom: 25px;
}

section.contact {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
}

.contact h1 {
    margin-left: 100px;
}

.contact-container {
    text-align: center;
}

.contact-form {
    width: 34%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.contact-banner {
    width: 34%;
    display: inline-block;
    margin-left: 35px;
    text-align: center;
}

.contact-banner img {
    position: relative;
}

.contact-banner::before {
    content: '';
    width: 37%;
    height: 87%;
    position: absolute;
    top: 9%;
    left: 50.5%;
    z-index: 1;
    border: 3px solid #B8DBC9;
}

.submit-button {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 5px;
    color: #ffffff;
    background: #B8DBC9;
    border: 1px solid #B8DBC9;
    margin-top: 50px;
    transition: 0.3s;
}

.submit-button:hover {
    color: #B9DBC9;
    background: #ffffff;
}

input,
textarea {
    display: block;
    border: 2px solid #000000;
    width: 100%;
    line-height: 1.5;
}

input {
    height: 35px;
}

label {
    display: block;
    margin-top: 15px;
    text-align: left;
}

footer {
    background-color: #B8DBC9;
    color: #ffffff;
    margin-top: 100px;
    width: 940px;
}

.main-footer {
    padding: 30px 0;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
}

.left-footer,
.right-footer {
    display: inline-block;
    width: 50%;
}

.left-footer {
    line-height: 1.5;
}

.right-footer .social-icons {
    list-style-type: none;
    text-align: center;
}

.social-icons li {
    display: inline-block;
}

.social-icons li img {
    width: 50px;
    margin-right: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .main-menu a {
        margin-left: 0;
    }

    .header-image {
        display: block;
        width: 100%;
    }

    .header-container {
        margin: 40px 0;
    }

    .header-text {
        display: block;
        width: 100%;
    }

    .heading {
        margin-top: 50px;
        width: 90%;
        margin: 50px auto;
    }

    .header-image::before {
        width: 83%;
        height: 98%;
        top: 4%;
        left: 12%;
    }

    .header-image img {
        left: 34%;
        top: 27%;
    }

    .header-description p {
        width: 90%;
        margin: 0 auto;
        text-align: justify;
    }

    .heading h5 {
        font-size: 20px;
        margin-left: -41px;
    }

    .green-button {
        display: block;
        width: 90%;
        margin: 20px auto;
    }

    aside.banner {
        padding: 50px;
    }

    aside .banner-text {
        text-align: center;
    }

    .experts-main .title h1 {
        text-align: center;
        margin-left: 0;
    }

    .first-box,
    .second-box {
        width: 90%;
        margin: 0 auto;
        display: block;
        margin-bottom: 50px;
        left: 0;
        position: relative;
    }

    .info-box {
        display: inline-block;
        text-align: center;
        padding: 80px 50px 30px 50px;
    }

    .first-box .box-image img,
    .second-box .box-image img {
        top: -76px;
        left: 111px;
    }

    section.contact {
        margin-top: 50px;
    }

    .contact-form,
    .contact-banner {
        width: 90%;
        vertical-align: top;
        display: block;
        margin: 0 auto;
        position: relative;
    }

    .contact-banner img {
        margin-top: 40px;
    }

    .contact-banner::before {
        content: '';
        width: 93%;
        height: 92%;
        top: 4%;
        left: -1%;
    }

    .main-footer {
        width: 100%;
    }

    .left-footer,
    .right-footer {
        display: block;
        width: 100%;
    }

    .left-footer p {
        text-align: center;
        margin-bottom: 25px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 100%;
    }

    .main-menu a {
        margin-left: 0;
    }

    .header-image,
    .header-text {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .contact-form,
    .contact-banner {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .green-button {
        width: 90%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ...
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ...
}
